venv/
__pycache__/
*.pyc

# Models
*.h5
*.keras
*.pkl

# Data (VERY IMPORTANT)
data/
archive/
*.zip

# Media
*.wav
*.png
venv/
__pycache__/
Italian_Parkinsons_Voice_and_Speech/
data/raw_multiclass/
data/spectrograms_multiclass/
*.wav
*.png